<% var collection = widgetCollection,
       href = "/Constructor/" + objectname + "/new"; %>
<div class="control-block">
  <a class="btn btn-success" href=<%= href%> >
    <%= i18n('New ' + objectname) %>
  </a>
</div>

<%- include('../../widgets/ng-widgets/collectionTable'); %>
