<% if (typeof(model) == 'undefined')
  var model = { }
%>
<% for(var key in widgetCollection) { %>
  <div class="form-group">
    <label><%= i18n(key)%></label>
    <% var collection = widgetCollection[key].widgets %>
    <%- include('../../mixins'); %>
  </div>
  <div class="form-group">
    <button class='btn btn-info' type="action" ng-click="goBack()" value=<%= i18n('Back')%> />
    <button class='btn btn-success' type="action" ng-click="submit()" value=<%= i18n('Save')%> />
  </div>
<% } %>
