doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href='http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css', rel='stylesheet')
    // STYLES
    link(rel="stylesheet", href="/bower_components/angular-ui-select/dist/select.css")
    link(rel="stylesheet", href="/bower_components/angular-dashboard-framework/dist/angular-dashboard-framework.css")
    link(rel="stylesheet", href="/styles/importer.css")
    link(rel="stylesheet", href="/styles/main.css")
    // STYLES END
    block styles
  body(ng-app='sailng')
    - if(errors) message = errors;
    .container
      .row
        .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
          .panel.panel-primary
            .panel-heading.clearfix
              h1.panel-title Create an Account
            .panel-body
              if message != ''
                .alert.alert-danger= message
              .col-sm-offset-2.col-sm-10
                p: em.text-muted test / test1010
              form.form-horizontal(role='form', action='/auth/local/register', method='post')
                 .form-group
                    label.col-sm-2.control-label(for='inputUsername3') Username
                    .col-sm-10
                       input#inputUsername3.form-control(type='text', name='username', placeholder='Username', value='')
                 .form-group
                    label.col-sm-2.control-label(for='inputPassword3') Password
                    .col-sm-10
                       input#inputPassword3.form-control(type='password', name='password', placeholder='Password', value='')
                 .form-group
                    label.col-sm-2.control-label(for='inputEmail3') Email
                    .col-sm-10
                       input#inputEmail3.form-control(type='email', name='email', placeholder='Email', value='')
                 .form-group
                    label.col-sm-2.control-label(for='inputFirstName3') First Name
                    .col-sm-10
                       input#inputFirstName3.form-control(type='text', name='first_name', placeholder='First Name', value='')
                 .form-group
                    .col-sm-offset-2.col-sm-10
                       button.btn.btn-default(type='submit') Sign in

