ui-select(ng-model='subentity.' + key, ng-disabled='disabled', style='width: 300px;')
  ui-select-match(placeholder='') {{$select.selected.name}}
  ui-select-choices(repeat='subassetentity in assotiationsEntity["' + oldkey + '"]["' + object.model + '"]' ,  refresh='refreshModel("'+ object.model +'", "' + oldkey + '")', refresh-delay='0')
    span(ng-bind-html='subassetentity.name | highlight: $select.search')

