<h2>Создание структуры базы данных и интерфейса к ней</h2>
<p>Для того что бы создать базу данных, выберите предметную область на основании которой требуется создать базу данных.
  Для корректного создания базы данных, у предметной области должны присутсвовать объекты, а у объектов атрибуты.
</p>

<p ng-show="!currentUser"> Для создания базы данных нужно <a href="/login">авторизоваться</a></p>

<div class="row">
	<div class="col-md-6">



      <div class="input-group">
        <ui-select ng-model="subjectArea.object" ng-disabled="disabled" style="width: 300px;">
          <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
          <ui-select-choices repeat="subjectArea in subjectAreas" refresh="refreshModel()" refresh-delay="0">
            <span ng-bind-html="subjectArea.name | highlight: $select.search"></span></ui-select-choices>
        </ui-select>
      </div>

      <div class="input-group">
        <p ng-show="!subjectArea.object"> Выберите предметную область</p>
        <button id="btnCreatedb" ng-click="createdatabase()" class="btn btn-danger form-control" ng-disabled="!currentUser || !subjectArea.object"> Создать базу данных </button>
      </div>

	</div>

</div>
