extends ./layout
block body
  //.page
    .ocean
      img.fishy(src='http://sailsjs.com/images/image_devInTub.png')
    .main
      h1
        | Forbidden
      h2
        | You don't have permission to see the page you're trying to reach.
      p.help
        a(href='http://en.wikipedia.org/wiki/HTTP_403') Why
        |  might this be happening?
    .logo
      a(href='http://sailsjs.org')
        img(src='http://sailsjs.org/images/logo.png')
