include ./mixins
doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    link(href='http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css', rel='stylesheet')
    // STYLES
    link(rel="stylesheet", href="/bower_components/angular-ui-select/dist/select.css")
    link(rel="stylesheet", href="/bower_components/angular-dashboard-framework/dist/angular-dashboard-framework.css")
    link(rel="stylesheet", href="/styles/importer.css")
    link(rel="stylesheet", href="/styles/main.css")
    // STYLES END
    block styles
  body(ng-app='sailng')
    - if(currentUser !== undefined)
      script.
        !{'var currentUser = { id: "'+ currentUser.id +'", username:"'+ currentUser.username+'", email:"'+ currentUser.email+'", first_name:"'+ currentUser.first_name+'", createdAt:"'+ currentUser.createdAt+'", updatedAt:"'+ currentUser.updatedAt+'" }'}
    block body
    div(ng-include="'ngForms?formtype=navbar'")
    //"'header/index.tpl.html'"
    div.main
      div(ui-view='main')
      //div.col-sm-3.col-md-2.sidebar.container
        div.well(ng-controller='SidebarCtrl' style='padding: 8px 0;')
          div(ng-include="sidebartemplate").col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
      //
        .container()
          div(ngview)
    div
      // SCRIPTS
      script(src="/bower_components/angular/angular.js")
      script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
      script(src="/bower_components/angular-ui-router/release/angular-ui-router.js")
      script(src="/bower_components/sails.io.js/dist/sails.io.js")
      script(src="/bower_components/angularSails/dist/ngsails.io.js")
      script(src="/bower_components/lodash/lodash.js")
      script(src="/bower_components/moment/moment.js")
      script(src="/bower_components/angular-moment/angular-moment.js")
      script(src="/bower_components/oclazyload/dist/oclazyload.js")
      script(src="/bower_components/angular-translate/angular-translate.js")
      script(src="/bower_components/angular-ui-select/dist/select.js")
      script(src="/bower_components/angular-sanitize/angular-sanitize.js")
      script(src="/bower_components/jquery/dist/jquery.js")
      script(src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js")
      script(src="/bower_components/angular-dashboard-framework/dist/angular-dashboard-framework.js")
      script(src="/bower_components/angular-local-storage/dist/angular-local-storage.js")
      script(src="/bower_components/Sortable/Sortable.js")
      script(src="/src/app/about/index.js")
      script(src="/src/app/app.js")
      script(src="/src/app/createdb/index.js")
      script(src="/src/app/dashboard/index.js")
      script(src="/src/app/header/index.js")
      script(src="/src/app/home/index.js")
      script(src="/src/app/messages/index.js")
      script(src="/src/common/Controllers/entity.edit.js")
      script(src="/src/common/Controllers/entity.list.js")
      script(src="/src/common/Controllers/entity.new.js")
      script(src="/src/common/directives/index.js")
      script(src="/src/common/directives/menu.js")
      script(src="/src/common/models/adf-structures-base.js")
      script(src="/src/common/models/index.js")
      script(src="/src/common/models/message.js")
      script(src="/src/common/models/user.js")
      script(src="/src/common/services/config.js")
      script(src="/src/common/services/entity-manager.js")
      script(src="/src/common/services/index.js")
      script(src="/src/common/services/lodash.js")
      script(src="/src/common/services/menu-manager.js")
      script(src="/src/common/services/metadata-manager.js")
      script(src="/src/common/services/modules-factory.js")
      script(src="/src/common/services/title.js")
      script(src="/src/common/services/utils-service.js")
      script(src="/src/common/services/utils.js")
      script(src="/src/common/widgets/index.js")
      script(src="/src/common/widgets/sidebar.js")
      // SCRIPTS END
      script(type='text/javascript', src='/templates.js')
      // TEMPLATES
      
      // TEMPLATES END
