mixin menu( menus )
  - for(var i in menus)
    if menus[i].submenu
      li
        label.tree-toggler.nav-header #{ i18n(menus[i].title) }
        ul.nav-list.tree
          mixin menu( menus[i].submenu )
    else
      li(ng-if="navItemChild.title != 'Constructor' || currentUser")
        a(href=menus[i].sref) #{ i18n(menus[i].title) }


mixin showNgWidgets(name)
  case name
    when 'inputText'
      include ./widgets/ng-widgets/inputText
    when 'inputCheckbox'
      include ./widgets/ng-widgets/inputCheckbox
    when 'collectionTable'
      include ./widgets/ng-widgets/collectionTable

mixin showNgWidgetsTable(name)
  case name
    when 'inputText'
      include ./widgets/ng-widgets/tableText
    default
      include ./widgets/ng-widgets/tableText

mixin showTablesInForm(name)
  case name
    when 'collectionTable'
      include ./widgets/form-table-widget/collectionTable

mixin showNgWidgetsInTableForm(object)
  - var name = object.name, options = object.enum; if(object.model) { var collectionName = object.model; console.log('~!showNgWidgetsInTableForm'); console.log(collectionName); }
    case name
      when 'inputText'
        include ./widgets/form-table-widget/inputText
      when 'inputCheckbox'
        include ./widgets/form-table-widget/inputCheckbox
      when 'inputChosen'
        include ./widgets/form-table-widget/inputChosen
      when 'inputSelect'
        include ./widgets/form-table-widget/inputSelect

mixin showEditableTableWidgets(object, tdkey, old)
  - var oldkey = old, key = tdkey, name = object.name, options = object.enum;
  case name
    when 'inputText'
      include ./widgets/editable-table-widgets/inputText
    when 'inputCheckbox'
      include ./widgets/editable-table-widgets/inputCheckbox
    when 'inputSelect'
      include ./widgets/editable-table-widgets/inputSelect
    when 'inputChosen'
      include ./widgets/editable-table-widgets/inputChosen
