<div ng-controller="HeaderCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home"> <i class="fa fa-yelp"></i> {{ 'Ontology Engine' | translate }}</a>
        </div>
        <div class="collapse navbar-collapse" id="menu" collapse="isCollapsed">
          <ul class="nav navbar-nav">

              <li ng-repeat="navItemChild in navItemsFolder" ng-if="navItemChild.title != 'Constructor' || currentUser" dropdown>
                <a href="#" dropdown-toggle>{{navItemChild.title | translate }} <span class="caret"></span></a>
                <div menu="navItemChild.submenu"></div>
              </li>

            <li ng-repeat="navItem in navItems">
                <a href="{{navItem.url}}"><i class="{{navItem.cssClass}}"></i> {{navItem.title | translate }}</a>
            </li>
            <li class="divider-vertical"></li>

            <li ng-if="currentUser" dropdown>
                <a href="#" dropdown-toggle ng-disabled="disabled">
                     {{currentUser.email}}    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/logout"><i class="fa fa-share"></i> Logout</a></li>
                </ul>
            </li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
</div>
