.form-group
  table.table.table-striped.table-bordered
    tr
      - for(var trkey in collection)
          th #{i18n(trkey)}
      th #{i18n('Actions')}
    - for (var tdkey in models)
      tr
        - for(var trkey in collection)
          - var tablewidgetvalue = models[tdkey][trkey];
                mixin showWidgetsTable(collection[trkey].name)
        td.btn-group

          a.btn.btn-default(href='/Constructor/'+ objectname + '/show/' + models[tdkey].id) Show
          a.btn.btn-warning(href='/Constructor/'+ objectname + '/edit/' + models[tdkey].id) Edit
          a.btn.btn-danger(href='/Constructor/'+ objectname + '/destroy/' + models[tdkey].id) Delete
.form-group
  input.btn.btn-success(type='submit', value='add')

