extends ../layout

block body
  h4 #{i18n('list ' + objectname)}
  a.btn.btn-success(href='/Constructor/'+ objectname + '/new') Create new menu
  - var collection = widgetCollection
  include ../widgets/collectionTable

