extends ../layout

block body
  h4  #{i18n('Edit ' + objectname)}
  form(action="/Constructor/"+ objectname +"/update/"+model.id,  method=objectname, enctype="multipart/form-data")
    input(type='hidden', name='id', value=model.id)
    include default_form
