if (typeof(model) == 'undefined')
  - model = { }
h1 #{i18n(objectname)}
- for (var key in widgetCollection)
  .form-group
      - var value = model[key];
      label
        = key
    - var collection = widgetCollection[key].widgets
      mixin showWidgets(widgetCollection[key])
.form-group
  input.btn.btn-success(type='submit', value='Save')
err
