<!DOCTYPE html>
<html ng-app="sailng" ng-controller="AppCtrl">
    <head>
        <title>Sailng - Sails.js and Angular starter app / boilerplate</title>
        <base href="/">
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--
        Stylesheets and Preprocessors
        ==============================
        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS). Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).
        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
        + Change the order of your CSS files
        + Import stylesheets from other directories
        + Use a different or additional preprocessor, like SASS, SCSS or Stylus
        -->
        <!-- font awesome from BootstrapCDN -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">
        <!--STYLES-->
        <link rel="stylesheet" href="/bower_components/angular-ui-select/dist/select.css">
        <link rel="stylesheet" href="/bower_components/angular-dashboard-framework/dist/angular-dashboard-framework.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <link rel="stylesheet" href="/styles/main.css">
        <!--STYLES END-->
    </head>
<body>

<%- body %>

<!--
Client-side Javascript
========================
You can always bring in JS files manually with `script` tags, or asynchronously
on the client using a solution like AMD (RequireJS). Or, if you like, you can
take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).
By default, filesin your `assets/linker/js` folder are included here
automatically (between SCRIPTS and SCRIPTS END). Both JavaScript (.js) and
CoffeeScript (.coffee) are supported. In production, your scripts will be minified
and concatenated into a single file.
To customize any part of the built-in behavior, just edit your Gruntfile.
For example, here are a few things you could do:
+ Change the order of your scripts
+ Import scripts from other directories
+ Use a different preprocessor, like TypeScript
-->
<!--SCRIPTS-->
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/sails.io.js/dist/sails.io.js"></script>
<script src="/bower_components/angularSails/dist/ngsails.io.js"></script>
<script src="/bower_components/lodash/lodash.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/angular-moment/angular-moment.js"></script>
<script src="/bower_components/oclazyload/dist/oclazyload.js"></script>
<script src="/bower_components/angular-translate/angular-translate.js"></script>
<script src="/bower_components/angular-ui-select/dist/select.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
<script src="/bower_components/angular-dashboard-framework/dist/angular-dashboard-framework.js"></script>
<script src="/bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="/bower_components/Sortable/Sortable.js"></script>
<script src="/src/app/about/index.js"></script>
<script src="/src/app/app.js"></script>
<script src="/src/app/createdb/index.js"></script>
<script src="/src/app/dashboard/index.js"></script>
<script src="/src/app/header/index.js"></script>
<script src="/src/app/home/index.js"></script>
<script src="/src/app/messages/index.js"></script>
<script src="/src/common/Controllers/entity.edit.js"></script>
<script src="/src/common/Controllers/entity.list.js"></script>
<script src="/src/common/Controllers/entity.new.js"></script>
<script src="/src/common/directives/index.js"></script>
<script src="/src/common/directives/menu.js"></script>
<script src="/src/common/models/adf-structures-base.js"></script>
<script src="/src/common/models/index.js"></script>
<script src="/src/common/models/message.js"></script>
<script src="/src/common/models/user.js"></script>
<script src="/src/common/services/config.js"></script>
<script src="/src/common/services/entity-manager.js"></script>
<script src="/src/common/services/index.js"></script>
<script src="/src/common/services/lodash.js"></script>
<script src="/src/common/services/menu-manager.js"></script>
<script src="/src/common/services/metadata-manager.js"></script>
<script src="/src/common/services/modules-factory.js"></script>
<script src="/src/common/services/title.js"></script>
<script src="/src/common/services/utils-service.js"></script>
<script src="/src/common/services/utils.js"></script>
<script src="/src/common/widgets/index.js"></script>
<script src="/src/common/widgets/sidebar.js"></script>
<!--SCRIPTS END-->
<!--
Client-side Templates
========================
HTML templates are important prerequisites of modern, rich client applications.
To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
that you load these templates client-side.
By default, your Gruntfile is configured to automatically load and precompile
client-side JST templates in your `assets/linker/templates` folder, then
include them here automatically (between TEMPLATES and TEMPLATES END).
To customize this behavior to fit your needs, just edit your Gruntfile.
For example, here are a few things you could do:
+ Import templates from other directories
+ Use a different template engine (handlebars, jade, dust, etc.)
+ Internationalize your client-side templates using a server-side
stringfile before they're served.
-->
<!--TEMPLATES-->
<script type="text/javascript" src="/templates.js"></script>
<!--TEMPLATES END-->
</body>
</html>
