<% function showNgWidgets(name) {
  switch(name) {
    case 'inputText':
    %> <%- include('./widgets/ng-widgets/inputText'); %> <%
    break;
    case 'inputCheckbox':
    %> <%- include('./widgets/ng-widgets/inputCheckbox'); %> <%
    break;
    case 'collectionTable':
    %> <%- include('./widgets/ng-widgets/collectionTable'); %> <%
    break;
  }
}%>

<% function showNgWidgetsTable(name) {
  switch(name) {
    case 'inputText':
    %> <%- include('./widgets/ng-widgets/tableText'); %> <%
      break;
    default:
    %> <%- include('./widgets/ng-widgets/tableText'); %> <%
    break;
  }
}
%>

