table.table.table-striped.table-bordered
  tdbody
    tr
      td
        label #{i18n(key)}
        div.control-block
          button.btn.btn-success(type='button', ng-click="addSubEntity('" +key+ "')") #{i18n('New')}
        table.table.table-striped.table-bordered
          tr
            - for (var tdkey in collection)
              th #{i18n(tdkey)}
            th #{i18n('Actions')}
            - var ngrepeat = 'subentity in entity.' + key; console.log(ngrepeat)
          tr(ng-repeat=ngrepeat)
            - for (var tdkey in collection)
              td
                mixin showEditableTableWidgets(widgetCollection[key].widgets[tdkey], tdkey, key)
            td
              button.btn.btn-danger(ng-click="destroySubentity('"+key+"',$index)"  ) #{i18n('Delete')}
