tr
  th(scope='row')
    label #{i18n(key)}
  td
    - var selectedEntityPath = '{{ entity.' + key + '.id }}'
      p  {{ $select.selected }}
    ui-select(ng-model='entity.' + key, ng-disabled='disabled', style='width: 300px;')
      ui-select-match(placeholder='') {{$select.selected.name}}
      ui-select-choices(repeat='subassetentity in assotiationsEntity["main"]["' + object.model + '"]', refresh='refreshModel("'+ object.model +'","main")', refresh-delay='0')
        span(ng-bind-html='subassetentity.name | highlight: $select.search')

