.form-group
  table.table.table-striped.table-bordered
    tr
      - for (var tdkey in collection)
        th #{i18n(tdkey)}
      th #{i18n('Actions')}
    tr(ng-repeat='entity in pageEntities')
      - for (var tdkey in collection)
        td {{entity.#{tdkey} }}
      td
        button.btn.btn-success(type='button', ng-click='editEntity(entity.id)') #{i18n('Edit')}
        button.btn.btn-danger(ng-click="destroy(entity.id)"  ) #{i18n('Delete')}
  pagination.pagination-sm(boundary-links='true', total-items='totalItems', ng-model='Page',ng-change="pageChanged()", previous-text='‹', next-text='›', first-text='«', last-text='»')
