if (typeof(model) == 'undefined')
  - model = { }
div.control-block
  button.btn.btn-info(type='button', ng-click='goBack()') #{i18n('Back')}
  button.btn.btn-success(type='button', ng-click='createEntity()') #{i18n('Save')}
table.table-hover.record_properties
  tbody
    - for (var key in widgetCollection)
      - var collection = widgetCollection[key].widgets
        mixin showNgWidgetsInTableForm(widgetCollection[key])
- for (var key in widgetCollection)
  - var collection = widgetCollection[key].widgets
    mixin showTablesInForm(widgetCollection[key].name)
