extends ../../../ng-layout

block body
  h4 #{i18n(objectname)}
  div.control-block
    button.btn.btn-success(type='button', ng-click='newEntity()') #{i18n('New')}
  - var collection = widgetCollection
  include ../../../widgets/ng-widgets/collectionTable

