extends ../../../ng-layout
block body
  div(ng-controller='NavbarCtrl')
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#menu', ng-click='isCollapsed = !isCollapsed')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/home')
            i.fa.fa-yelp
            |  {{ 'Ontology Engine' | translate }}
        #menu.collapse.navbar-collapse(collapse='isCollapsed')
          ul.nav.navbar-nav
            - console.log( navItemsFolder )

            li(ng-repeat='navItem in navItems')
              a(href='{{navItem.url}}')
                i(class='{{navItem.cssClass}}')
                  |  {{navItem.title | translate }}
            li.divider-vertical
            li(ng-if='currentUser', dropdown='')
              a(href='#', dropdown-toggle='', ng-disabled='disabled')
                | {{currentUser.email}}
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='/logout')
                    i.fa.fa-share
                    |  Logout
            // /.nav-collapse

