extends ../../../ng-layout

block body
  form(action="/Constructor/"+ objectname +"/update/"+model.id,  method=objectname, enctype="multipart/form-data" disabled="true")
    input(type='hidden', name='id', value=model.id)
    include form

