<h1>О проекте</h1>

<p>Данное приложение разработана в рамках выпускной квалификационной работы Мазняка Андрея</p>
<p>Использованы фремворки <a href="https://github.com/ngbp/ngbp">sails</a> и <a href="https://github.com/angular-app/angular-app/">angular</a>.</p>
<p>Контактный номер телефона: +79644490356</p>
<p>Email: andreymaznyak@gmail.com</p>

