<div ng-controller="HomeCtrl">
  <div class="page-header">
    <h1>Особенности программы</h1>
  </div>
  <div class="row">
    <div class="col-md-6 show-grid">
      <div style="height: 284px">
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
              <h4>{{slide.text}}</h4>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
    <div class="col-md-6">
      <b>Разработанная система позволяет: </b>
      <p><i class="fa fa-angle-down fa-lg"></i>   Увеличить количество документации за счет присутствия описания онтологии в информационной системе</p>
      <p><i class="fa fa-angle-down fa-lg"></i>   Уменьшить стоимость разработки за счет использования современных, бесплатных и поддерживаемых огромным количеством людей Фреймворков</p>
      <p><i class="fa fa-angle-down fa-lg"></i>   Уменьшить стоимость интеграции за счет наличия онтологии в модели системы, а так же за счет использования Фреймворка который легко создает REST api</p>
      <p><i class="fa fa-angle-down fa-lg"></i>   Использовать общую концепцию создание модели системы(создание модели на основе онтологии)</p>
    </div>
  </div>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="/images/waterline.png" alt="Модель" width="140" height="140">
        <h2>Waterline ORM</h2>
        <p>Waterline обеспечивает равномерное API для доступа к объектам разных типов баз данных. Это означает, что вы пишете тот же код, чтобы получить и сохранить объекты в Redis, MySQL, LDAP, MongoDB, или Postgres.
          Ватерлинии стремится наследовать концепции ORM - ActiveRecord, Hibernate, и Mongoose, но акцентирует внимание на модульность, проверяемость и согласованность между адаптерами.</p>
        <p><a class="btn btn-default" href="https://github.com/balderdashy/waterline" role="button">Узнать больше »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img  src="/images/sails.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Sails backend</h2>
        <p>Sails позволяет легко создавать Node.js приложения. Он предназначен для
          генерации серверных приложения используя MVC, как Ruby On Rails, но с поддержкой требований современных приложений:
          API, управляемые данными с масштабируемой, сервисно-ориентированной архитектурой.</p>
        <p><a class="btn btn-default" href="http://sailsjs.org/" role="button">Узнать больше »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img  src="/images/angular.png" alt="Generic placeholder image" width="140" height="140">
        <h2>Angular frontend</h2>
        <p>AngularJS — это набор инструментов для построения фреймворка, наиболее подходящего для создания веб-приложения.
          Он расширяем и отлично взаимодействует с другими библиотеками.
          Любая особенность может быть изменена или заменена в соответствии с уникальным путем развития и потребностями вашего приложения.</p>
        <p><a class="btn btn-default" href="http://angular.ru/" role="button">Узнать больше »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  <!-- FOOTER -->


</div>
