<div class="form-group">
  <table class="table table-striped table-bordered">
    <tr>
      <% for (var tdkey in collection) { %>
        <th>
          <%= i18n(tdkey) %>
        </th>
      <% } %>
      <th><%= i18n(Actions) %></th>
    </tr>
    <tr ng-repeat="entity in pageEntities">
      <% for (var tdkey in collection) { %>
        <th>
          <%= 'entity.#{tdkey}' %>
        </th>
      <% } %>
      <td>
        <a href="/Constructor//show/{{entity.id}}" class="btn btn-default"><%= i18n(Show) %></a>
        <a href="/Constructor//{{entity.id}}/edit" class="btn btn-warning"><%= i18n(Edit) %></a>
        <button ng-click="'destroy({{entity.id}})'" class="btn btn-danger"><%= i18n(Delete)%></button>
      </td>
    </tr>
  </table>
  <pagination boundary-links="true" total-items="totalItems" ng-model="Page" ng-change="pageChanged()" previous-text="‹" next-text="›" first-text="«" last-text="»" class="pagination-sm"></pagination>
</div>
